llama-index
llama-index-core
llama-index-embeddings-openai
llama-index-postprocessor-flag-embedding-reranker
git+https://github.com/FlagOpen/FlagEmbedding.git
llama-parse
llama-index-embeddings-fastembed
fastembed
llama-index-llms-gemini
llama-index-embeddings-gemini

python-poppler
pytesseract
pinecone
pinecone-client[grpc]

langchain_experimental
langchain_openai
faiss-cpu
